

.featured-container {
    display: grid;
    background-color:rgb(236, 236, 236);
    grid-template-columns: 100%;
    grid-template-rows: 31em 8em 20em 8em 20em 8em 20em 8em 20em 3em;
    grid-template-areas:
    "categories"
    "h1"
    "fishing"
    "h2"
    "hunting"
    "h3"
    "hiking"
    "h4"
    "camping"
    "footer";
}

.featured-container a {
    text-decoration: inherit;
    color: inherit;
}

.header {
    grid-area: categories;
    padding-top: 40px;
    background-color: rgb(150, 5, 61);
    text-align: center;
}

.header-title {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    letter-spacing: .05em;
    word-spacing: .1em;
    font-weight:lighter;
    color:rgb(255, 174, 142);
    margin-bottom: 25px;
    margin-top: 45px;
}

.subheader {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-style: italic;
    color:rgb(255, 174, 142);
    margin: 8px;
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 5px;
    align-items: center;
    text-align: center;
}

.categories div label {
    display: block;
    font-family: sans-serif;
    font-size: 1.2rem;
    padding-top: .8em;
    padding-bottom: .4em;
    color:rgb(231, 221, 190);
    border-bottom: 1.5px solid lightcoral;
}

.categories div img {
    height: 14rem;
    width: auto;
    border-radius: 100%;
    padding-top: .7rem;
    transition: all .05s ease-in-out;

}

.categories div img:hover {
    transform: scale(1.03);
}




.fishing {
    grid-area: fishing;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding-right: 30px;
    padding-left: 30px;
    align-items: center;
    text-align: center;
    background: linear-gradient(to top, rgb(207, 231, 233), rgb(236, 236, 236));
}

.fishing div label {
    display: block;
    font-family: sans-serif;
    padding-top: .2em;
}

.cost {
    font-weight: bolder;
    font-size: 1.2em
}

.fishing-title {
    grid-area: h1;
    align-self: center;
    justify-self: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    border-bottom: 2px solid rgb(207, 231, 233);
}

.fishing div img {
    height: 15rem;
    width: auto;
    border-radius: 10px;
}

.fishing div:hover {
    transform: scale(1.01);
}




.hunting {
    grid-area: hunting;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding-right: 30px;
    padding-left: 30px;
    align-items: center;
    text-align: center;
    background: linear-gradient(to top, rgb(255, 233, 204), rgb(236, 236, 236));
}

.hunting div label {
    display: block;
    font-family: sans-serif;
    padding-top: .2em;
}

.hunting-title {
    grid-area: h2;
    align-self: center;
    justify-self: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    border-bottom: 2px solid rgb(255, 233, 204);
}

.hunting div img {
    height: 15rem;
    width: auto;
    border-radius: 10px;
}

.hunting div:hover {
    transform: scale(1.01);
}



.hiking {
    grid-area: hiking;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding-right: 30px;
    padding-left: 30px;
    align-items: center;
    text-align: center;
    background: linear-gradient(to top, rgb(208, 236, 217), rgb(236, 236, 236));
}

.hiking div label {
    display: block;
    font-family: sans-serif;
    padding-top: .2em;
}

.hiking-title {
    grid-area: h3;
    align-self: center;
    justify-self: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    border-bottom: 2px solid rgb(208, 236, 217);
}

.hiking div img {
    height: 15rem;
    width: auto;
    border-radius: 10px;
}

.hiking div:hover {
    transform: scale(1.01);
}


.camping {
    grid-area: camping;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding-right: 30px;
    padding-left: 30px;
    align-items: center;
    text-align: center;
    background: linear-gradient(to top, rgb(224, 200, 231), rgb(236, 236, 236));
}

.camping div label {
    display: block;
    font-family: sans-serif;
    padding-top: .2em;
    text-decoration: inherit;
    color: inherit;
}

.camping-title {
    grid-area: h4;
    align-self: center;
    justify-self: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    border-bottom: 2px solid rgb(224, 200, 231);
}

.camping div img {
    height: 15rem;
    width: auto;
    border-radius: 10px;
}

.camping div:hover {
    transform: scale(1.01);
}

.footer {
    grid-area: footer;
    /* padding-top: 40px; */
    background-color: rgb(150, 5, 61);
    text-align: center;
    color:rgb(255, 174, 142);
}
