body {
    background-color: whitesmoke;
}

.cart-container {
    display:inline-flex;
    max-width: 100%;
    padding-top: 60px;
    padding-bottom: 40px;
    padding-left: 40px;
    /* background: linear-gradient(to top, rgb(207, 231, 233), rgb(236, 236, 236)); */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "product";
}

.individual-cart {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    margin-top: 60px;
    padding-right: 30px;
    padding-left: 30px;
    align-items: center;
    text-align: center;
}

.individual-cart:hover {
    transform: scale(1.01);
}

.individual-cart a {
    text-decoration: inherit;
    color: inherit;
}

.individual-cart img {
    height: 5rem;
    width: auto;
    border-radius: 10px;

}

.individual-cart label {
    display: block;
    font-family: sans-serif;
    padding-top: .2em;
    text-decoration: inherit;
    color: inherit;
}

.individual-cart button {
    /* display:flex; */
    text-align: center;
    margin-top: 5px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: rgba(253, 4, 4, .7);
    color: white;
}

.cart-total {
    /* display:inline-block; */
    /* padding-left: 100px; */
    margin-bottom: 10px;
    font-size: 40px;
    font-family: sans-serif;
    word-spacing: 15px;
    background-color: black;
    text-align: center;
    color: white;
}

.checkout-button {
    margin-left: 530px;
    text-align: center;
    margin-bottom: 20px;
    width: 200px;
    height: 60px;
    /* padding-bottom: 10px; */
}

.checkout-button button {
    width: 200px;
    height: 50px;
    font-size: 25px;
    border-radius: 5px;
    font-weight: bold;
}
