.category-container {
    display:grid;
    max-width: 100%;
    padding-top: 60px;
    padding-bottom: 40px;
    background: linear-gradient(to top, rgb(207, 231, 233), rgb(236, 236, 236));
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "product";

}

.individual-product {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-top: 60px;
    /* padding-right: 30px;
    padding-left: 30px; */
    align-items: center;
    text-align: center;
}

.individual-product:hover {
    transform: scale(1.01);
}

.individual-product a {
    text-decoration: inherit;
    color: inherit;
}

.individual-product img {
    height: 15rem;
    width: auto;
    border-radius: 10px;

}

.individual-product label {
    display: block;
    font-family: sans-serif;
    padding-top: .2em;
    text-decoration: inherit;
    color: inherit;
}

.footer-categories {
    height: 3em;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    background-color: rgb(150, 5, 61);
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    color:rgb(255, 174, 142);
}
.footer-categories p {
    margin: 0px;
    /* padding-top: 15px; */
}

.footer-categories a {
    padding-left: 5px;
}
