form {
    /* background: linear-gradient(to bottom,#ffefb9ba, #f3f3f3cc); */
    background-image: url('./image/4k-uhd-background-river-forest-aerial-view-height-treetops-a.jpg');
    background-size: cover;
    text-align: center;
}

.formContainer {
    height: 175px;
    width: 200px;
    display: inline-block;
    margin-top: 150px;
    /* background-image: url('./image/ripped_paper_07_550.png');
    background-size: cover; */
    /* padding: 20px; */
}


.errors {
}
